# R
.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata

# System
.DS_Store

# directories
data
figures
reports
tests
wrk

# files
*.rda
*.rds
*.csv
*.txt
*.png
*.jpg
*.mp4
*.gif
*.mov
*.pdf
*.xls
*.docx
nohup.out